[submodule "SimCCL"]
	path = SimCCL
	url = https://github.com/aliyun/SimCCL
	branch = master
[submodule "aicb"]
	path = aicb
	url = ../aicb.git
	branch = master
[submodule "ns-3-alibabacloud"]
	path = ns-3-alibabacloud
	url = ../ns-3-alibabacloud.git
	branch = master
